body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(71, 5, 98);
}
#calculator{
    width: 500px;
    height: 700px;
    border: solid 5px black;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(45, 38, 38);
    border-radius: 15px;
    overflow: hidden;
}
#delete{
    background-color: rgb(206, 30, 30);
}
#display{
    width: 100%;
    height: 100px;
    background-color: rgb(36, 27, 12);
    color: white;
    font-size: 36px;
    text-align: right;
    padding: 20px;
    border: none;
    box-sizing: border-box;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    gap: 10px;
    padding: 20px;
}
button{
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 45px;
    background-color: rgb(25, 20, 12);
    font-size: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
h2{
    text-align:right;
    transform: uppercase;
    width: 50px;
    display: flex;
    justify-content: center;
}
.oprationBtn{
    background-color: rgb(240, 169, 37);
}
.oprationBtn:hover{
    background-color: rgb(127, 132, 90);
}
button:hover{
    background-color: rgb(51, 50, 48);
}
button:active{
    background-color: rgb(70, 50, 20);
}